includes:
    - vendor/szepeviktor/phpstan-wordpress/extension.neon
    - phpstan-baseline.neon

parameters:
    level: 5
    bootstrapFiles:
        - phpstan-bootstrap.php
    paths:
        - hametupack.php
        - app/
        - includes/
    excludePaths:
        - app/Hametuha/HametuPack/ShareDaddy/
